IONOS_EMAIL_HOST=smtp.ionos.de
IONOS_EMAIL_PORT=465
IONOS_EMAIL_SECURITY=ssl
IONOS_EMAIL_USERNAME=kontakt@nachhilfe-plus.de
IONOS_EMAIL_PASSWORD=HIER_DEIN_IONOS_EMAIL_PASSWORT
IONOS_EMAIL_RECIPIENT=kontakt@nachhilfe-plus.de
